@import "../../styles/globals.scss";

.items {
  display: flex;
  flex-direction: column;
  .itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    .itemList {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 1000px;
      height: fit-content;
      background-color: $color-white;
      margin: 0;
      margin-bottom: 20px;
      padding: 0;
    }
  }
}

@media only screen and (max-width: 992px) {
  .items {
    .itemContainer {
      .itemList {
        width: 800px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .items {
    .itemContainer {
      .itemList {
        width: 500px;
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .items {
    .itemContainer {
      .itemList {
        width: 300px;
      }
    }
  }
}
